/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/12/2019, 05:09:00 PM
    Author     : Brayan Lopez
*/
/*---Estilos generales---*/
*{
    padding: 0px;
    margin: 0px;
}

body{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: auto; 
}

table{
    border: 1px solid black;
}

#my-canvas{
	border: 1px solid red;
	width: 500px;
	height: 400px;
}
